.notFoundHeader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.notFoundBody {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

.notFoundInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundContainer > img {
    width: 512px;
    height: 512px;
}