.mainContainer {
    background: #fff;
    display: flex;
    flex: 1 1 auto;
    max-width: 1100px;
    justify-content: space-between;
    width: 100%;
}

.trendingContainer {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: xx-large;
    font-weight: 500;
    color: #00000033;
    padding: 24px 0px;
    width: 692px;
    max-width: 692px;
    z-index: 1;
}

.followingContainer {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: xx-large;
    font-weight: 500;
    color: #00000033;
    padding: 24px 0px;
    width: 692px;
    max-width: 692px;
    z-index: 1;
}

.noPostsFound {
    align-items: center;
    flex-direction: column !important;
    font-style: normal;
    color: rgba(22,24,35);
}

.noPostsFound > svg {
    width: 256px;
    height: 256px;
}

.mainContentNone {
    flex-direction: row;
}

.mainContentSome {
    flex-direction: column;
}

.leftScrollContainer {
    left: unset;
    position: fixed;
    width: 340px !important;
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    perspective-origin: right top;
    transform-style: preserve-3d;
    height: 100%;
}

.leftScrollWrapper {
    padding-top: 20px;
    width: 340px !important;
}

.suggestedWrapper {
    width: 100%;
    padding: 20px 0px;
}

.suggestedWrapper:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 1px;
    right: 1px;
    background: rgba(22,24,35,0.12);
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    margin-top: 1rem;
}

.suggestedCreator {
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-pack: center;
    padding: 0px 8px;
    width: auto;
    height: 48px;
    margin-left: 2px;
    margin-top: .5rem;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.15s cubic-bezier(0.65,0,0.35,1);
}

.suggestedCreator:hover {
    background-color: rgba(0, 0, 0, 0.027);
   /*  background-color: rgba(0, 0, 0, 0.116); */
}

.suggestedCreatorWrapper {
    display: flex;
    align-items: center;
}

.suggestedCreatorAvatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: .5rem;
}

.suggestedCreatorName {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.suggestedCreatorNickname {
    font-size: 11px;
    font-weight: 400;
}

.navWrapper::after {
    content: "";
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    margin-top: 2rem;
}

.navItem {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0px 8px;
    border-radius: 4px;
    transition: all 0.15s cubic-bezier(0.65,0,0.35,1);
}

.navItem:hover {
    background-color: rgba(0, 0, 0, 0.027);
}

.navItem > svg {
    margin-right: .75rem;
    width: 24px;
    height: 24px;
}

.navItemSelected {
    fill: #2ba0ff;
}

.navItemTitle {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

.exploreTags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wavesCopyright {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
}

.leftFooterWrapper::before {
    content: "";
    height: 1px;
    right: 8px;
    left: 8px;
    background: rgba(22, 24, 35, 0.12);
    position: absolute;
}


.tabSelected {
    color: #2ba0ff;
}
.loadingBarContainer {
    position: absolute;
}
.loadingBar {    
    width: 100%;
    height: 4px;
    z-index: 100;
    background-color: #2ba0ff;
    left: 0;
    top: 0;
    animation: firstLoad .15s linear 0s forwards;
}

.loadedBar {
    animation: finishLoad .25s linear 0s forwards;
}

@keyframes firstLoad {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

@keyframes finishLoad {
    from {
      width: 40%;
    }
    to {
        width: 100%;
        visibility: hidden;
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 991px) { 
    .mainContainer {
        max-width: none !important;
        justify-content: unset !important;
    }

    .trendingContainer {
        /* max-width: none !important;
        width: auto !important; */
        width: 692px;
        max-width: 692px;
        margin-left: 1rem;
    }

    .followingContainer {
        max-width: none !important;
        width: auto !important;
        margin-left: 1rem;
    }

    .leftBarContainer {
        flex: 0 0 68px !important;
        -webkit-flex: 0 0 68px !important;
        -ms-flex: 0 0 68px !important;
    }

    .leftScrollContainer {
        left: unset;
        overflow-x: hidden;
        overflow-y: auto;
        width: 68px !important;
        padding: 0 8px 0 8px !important;
        border-right: 1px solid rgba(22,24,35,0.12);
        box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    }

    .leftScrollWrapper {
        padding-top: 12px;
        width: auto !important;
    }

    .navWrapper {
        width: 52px !important;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .navWrapper::after {
        margin-top: unset;
    }

    .suggestedWrapper {
        display: block !important;
        position: relative !important;
        width: 100% !important;
        padding: .5rem 0 !important;
    }

    .suggestedWrapper:before {
        content: "";
        position: absolute;
        height: 1px;
        left: 1px;
        right: 1px;
        background: rgba(22,24,35,0.12);
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }

    .suggestedCreator {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        padding: 0px 8px;
        width: 48px;
        height: 48px;
        margin-left: 2px;
        margin-top: .5rem;
        margin-bottom: 0;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 4px;
        cursor: pointer;
    }

    .suggestedCreatorWrapper {
        width: 32px;
        height: 32px;
    }

    .suggestedCreatorAvatar {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: unset;
    }

    .suggestedCreatorName {
        display: none;
    }

    .exploreTitle {
        display: none;
    }

    .navItem {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: unset;
        padding: 12px 0;
        border-radius: 4px;
    }
    .navItem > svg {
        margin-right: unset;
        width: 26px !important;
        height: 26px !important;
    }

    .navItemTitle {
        display: none;
    }

    .exploreWrapper{
        display: none;
    }
    
    .leftFooterWrapper {
        display: none;
    }

    .noPostsFound {
        width: 100vw !important;
    }
}


@media (max-width: 675px) { 
    .trendingContainer {
        width: 550px !important;
        max-width: 550px !important;
    }

}


@media (max-width: 575px) {
    .trendingContainer {
        width: calc((100vw - 32px) - 68px) !important;
        margin-left: 1rem;
    }
}