.mainContainer {
    background: #fff;
    display: flex;
    flex: 1 1 auto;
    max-width: 1100px;
    justify-content: space-between;
    width: 100%;
}

.trendingContainer {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: xx-large;
    font-weight: 500;
    color: #00000033;
    /*color: rgb(204, 204, 204);*/
    padding: 14px 0px;
    margin-right: 24px;
    width: 692px;
    max-width: 692px;
    z-index: 1;
}

.followingContainer {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: xx-large;
    font-weight: 500;
    color: #00000033;
    /*color: rgb(204, 204, 204);*/
    padding: 14px 0px;
    margin-right: 24px;
    width: 692px;
    max-width: 692px;
    z-index: 1;
}

.mainContentNone {
    flex-direction: row;
}

.mainContentSome {
    flex-direction: column;
}

.leftScrollContainer {
    left: unset;
    position: fixed;
    width: 340px !important;
    padding: 0px 8px !important;
    overflow: hidden auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    perspective-origin: right top;
    transform-style: preserve-3d;
    height: 100%;
}

.leftScrollWrapper {
    padding-top: 20px;
    width: 340px !important;
}

.navWrapper::after {
    content: "";
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    margin-top: 2rem;
}

.navItem {
    margin-top: 1rem;
}

.navItemTitle {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

.exploreTags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tabSelected {
    color: #2ba0ff;
}
.loadingBarContainer {
    position: absolute;
}
.loadingBar {    
    width: 100%;
    height: 4px;
    z-index: 100;
    background-color: #2ba0ff;
    left: 0;
    top: 0;
    animation: firstLoad .15s linear 0s forwards;
}

.loadedBar {
    animation: finishLoad .25s linear 0s forwards;
}

@keyframes firstLoad {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

@keyframes finishLoad {
    from {
      width: 40%;
    }
    to {
        width: 100%;
        visibility: hidden;
    }
}