.navContainer {
    position: fixed;
    background-color: #fff;
    z-index: 10;
}

.navbarWrapper {
    margin-left: 25rem;
    margin-right: 25rem;
}

.navTitle {
    font-family: 'Bebas Neue', cursive;
}

.navSearchForm {
    -webkit-box-align: center;
    background: rgba(22, 24, 35, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    width: 32rem;
}

.waveSearch {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 30rem;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    caret-color: #2ba0ff;
    appearance: textfield;
    z-index: 10;
}
.waveSearch[type=search]::-ms-clear { display: none; width : 0; height: 0; }
.waveSearch[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
.waveSearch[type="search"]::-webkit-search-decoration,
.waveSearch[type="search"]::-webkit-search-cancel-button,
.waveSearch[type="search"]::-webkit-search-results-button,
.waveSearch[type="search"]::-webkit-search-results-decoration { display: none; }

.navRightBarContainer {
    justify-content: center;
    align-items: center;
}

.loginBtn {
    min-width: 100px;
    background-color: #2ba0ff;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 20px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
}

.uploadBtn {
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.uploadBtn > svg {
    width: 28px;
    height: 28px;
}

.avatarWrapper {
    border: 1px solid rgba(35, 35, 35, 1);
}

.navbarEnlarged {
    z-index: -1;
}