.navbarWrapper {
    margin-left: 25rem;
    margin-right: 25rem;
}

.navTitle {
    font-family: 'Bebas Neue', cursive;
}

.navSearchForm {
    -webkit-box-align: center;
    background: rgba(22, 24, 35, 0.1);
    border-radius: 5px;
    overflow: hidden;
    padding: 9px;
}

.navSearchForm > input {
    background: transparent;
    border: none;
    font-size: 15px;
    width: 30rem;
    outline: none;
}

.loginBtn {
    min-width: 100px;
    background-color: #2ba0ff;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 20px;
    height: 35px;
    justify-content: center;
    align-items: center;
}