.postContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post {
    max-width: 629px;
    width: 629px;
    position: relative;
    padding: 20px 0px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.18);
}

.creatorAvatar {
    float: left;
}

.creatorAvatarImg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.creatorAvatarImg > img {
    object-fit: cover;
}

.content {
    margin-left: 4.5rem;
}

.contentAuthorTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: .25rem;
}

.contentAuthorName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(18, 18, 18);
    font-style: normal;
    margin-right: 1rem;
    text-decoration: none;
}

.contentDescription {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgb(18, 18, 18);
    font-style: normal;
    margin-bottom: 1.5rem;
}

.mediaContainer {
    display: inline-block;
}

.mediaWrapper {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
}

.media {
    height: 486px;
    width: 259px;
    background-color: rgb(0, 0, 0);
    object-fit: cover;
    border-radius: 0.5px;
}

.mediaDescription {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #00000033;
}

.soundDescription {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(18, 18, 18);
}