.postContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post {
    max-width: 629px;
    width: 629px;
    position: relative;
    padding: 28px 0px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.18);
}

.creatorAvatar {
    float: left;
}

.creatorAvatarImg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgba(22, 24, 35, 0.12);
}

.creatorAvatarImg > img {
    object-fit: cover;
}

.content {
    margin-left: 4.5rem;
}

.contentAuthorTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: .25rem;
}

.contentAuthorLarge {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.contentAuthorName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgb(18, 18, 18);
    font-style: normal;
    margin-right: .5rem;
    text-decoration: none;
}

.contentAuthorName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contentAuthorNickname {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(18, 18, 18);
    font-style: normal;
    margin-right: 1rem;
    text-decoration: none;
}

.contentDescription {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgb(18, 18, 18);
    font-style: normal;
    margin-bottom: 1.5rem;
}

.mediaContainer {
    display: flex;
}

.mediaWrapper {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
}

.mediaWrapperLoading > div:nth-child(1) {
    position: absolute;
}

.media {
    width: calc(0.56 * (475px + ((100vw - 768px) / 1152) * 100));
    height: calc(475px + ((100vw - 768px) / 1152) * 100);
    /* height: 486px;
    width: 259px; */
    background-color: rgb(0, 0, 0);
    object-fit: cover;
    border-radius: 0.5px;
}

.mediaDescription {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #00000033;
}

.soundDescription {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(18, 18, 18);
}

.soundDescriptionHeader:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contentHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.followBtnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.menuBtnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.menuBtnWrapper > svg {
    height: 24px;
    width: 24px;
}

.menuBtnWrapper > svg:hover {
    fill: #2ba0ff;
}

.followBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: relative;
    overflow: hidden;

    min-width: 88px;
    height: 28px;
    padding: 0px 10px;

    border: 1px solid #2ba0ff;
    border-radius: 4px;
    color: #2ba0ff;
    background: #fff;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    -webkit-transition: all 0.2s cubic-bezier(0.65,0,0.35,1);
    transition: all 0.2s cubic-bezier(0.65,0,0.35,1);
}

.followBtn:hover {
    background-color: #2ba0ff27;
}

.socialControls {
    display: flex;
}

.socialControlList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
}

.socialControlItemWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 46px;
    font-size: 14px;
}

.socialControlItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.socialWaveIcon {
    background-color: rgba(22, 24, 35, 0.06);
    padding: 14px;
    border-radius: 100%;
    margin-left: 0px;
    cursor: pointer;
    transition: all 150ms ease-in-out 0s;
}

.socialStats {
    margin-top: .5rem;
    color: rgba(22, 24, 35, 0.8);
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.socialWaveIcon:hover {
    background-color: rgba(22, 24, 35, 0.1);
}

.socialWaveIcon:active {
    background-color: rgba(22, 24, 35, 0.15);
}

.postLargeContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgb(255, 255, 255);
    z-index: 1000;
}

.postLargeVideoContainer {
    flex: 1 1 896px;
    position: relative;
    overflow: hidden;
    background: black;
    padding: 0px 80px;
}

.postLargeVideoWrapper{
    width: 100%;
    height: 100%;
    position: relative;
    background: center center / contain no-repeat;
}

.largeMedia {
    display: block;
    position: absolute;
    inset: 0px;
    transform: none;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.postLargeSocialContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 544px;
    width: 544px;
}

.postLargeAuthor {
    padding: 32px 32px 0px;
}

.postLargeAuthorInfo {
    display: flex;
}

.postLargeAuthorWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    padding: 22px 0px 15px;
    color: rgb(22, 24, 35);
}

.postLargeDesc {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: .5rem;
}

.postLargeCaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgb(18, 18, 18);
    flex: 0 0 auto;
    font-weight: normal;
    margin-bottom: 0px;
    word-break: break-word;
}

.postLargeSoundDesc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: rgb(18, 18, 18);
    position: relative;
    margin-bottom: 16px;
    flex: 0 0 auto;
    margin-top: 1rem;
}

.postSocialControls {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 0px;
    position: relative;
    flex: 0 0 auto;
}

.leftControls {
    display: flex;
    flex: 0 0 auto;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.controlItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.controlIcon {
    padding: 6px;
    margin-right: .5rem;
}

.controlStats {
    margin-top: 0px;
}

.likeIcon {
    cursor: pointer;
}

.postLargeCommentContainer {
    width: 100%;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    background-color: rgb(248, 248, 248);
    padding: 0px 32px;
    border-top: 0.5px solid rgba(18, 18, 18, 0.12);
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.12);
    box-sizing: border-box;
    overflow-y: overlay;
}

.enlargedComments {
    padding-top: 16px;
    width: 100%;
}

.postLargeFormContainer {
    display: flex;
    margin: 0px 28px;
    padding: 21px 0px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.postLargeFormWrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    flex: 1 1 0%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.enlargedInputForm {
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgb(22 24 35 / 26%);
    padding: 10px;
    background: rgba(22, 24, 35, 0.06);
    outline: none;
    caret-color: #2ba0ff;
    color:rgb(0, 0, 0);

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.postCommentBtn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #2ba0ff;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.commentItem {
    width: 100%;
    margin-bottom: 1rem;
}

.commentItemContent {
    display: flex;
    user-select: none;
    position: relative;
    padding: 0px;
    margin-bottom: 1rem;
}

.commentAvatar {
    width: 40px;
    height: 40px;
    border-width: 0.5px;
    border-color: rgba(22, 24, 35, 0.12);
    margin-right: 1rem;
}

.commentText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color:rgb(38, 38, 38);

    padding-top: 4px;
    padding-right: 40px;
    word-break: break-word;
    white-space: pre-line;
    user-select: none;
}

.commentFooter {
    display: flex;
}

.commentTime {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 6px 0px 0px;
    color: rgba(18, 18, 18, 0.5);
    user-select: none;
}

.commentReplyBtn {
    margin: 6px 0px 0px 24px;
    cursor: pointer;
    color: #2ba0ff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.commentLikesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.25rem;
    position: absolute;
    top: 24px;
    right: 2px;
}

.commentLikesContainer > svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.commentLikes {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: rgba(22, 24, 35, 0.671);
    margin-top: 4px;
}

.postLargeContainer > svg {
    position: absolute;
    background: transparent;
    width: 28px;
    height: 28px;
    fill: #fff;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

.postLargeContainer > svg:hover {
    fill: rgb(212, 212, 212);
    cursor: pointer;
}

.commentItemReply {
    margin-left: 24px;
}

.moreReplies {
    margin-left: 54px;
    display: flex;
    align-items: center;
}

.moreReplies > svg {
    width: 8px;
    height: 8px;
    background: transparent;
    margin-left: 4px;
}

.moreRepliesText {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    color: rgba(18, 18, 18, 0.5);
}

.moreReplies:hover {
    text-decoration: underline;
    cursor: pointer;
}

.commentMention {
    font-weight: 700;
}